.root{
    -fx-background-color: #242424;
}

.section-style{
    -fx-border-width: 1px;
    -fx-border-color: white;
}

Label{
    -fx-font-size: 20;
    -fx-text-fill: white;
}
TextField{
    -fx-background-color: #242424;
    -fx-border-color: white;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-font-size: 17;
    -fx-text-fill: white;
}
Button{
    -fx-background-color: #BC85FD;
    -fx-border-color: black;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill: white;
}
Button:hover{
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-border-width: 2px;
}
.result-label, .number-label{
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.calculateButton{
    -fx-font-size: 20;
    -fx-background-color: #05D8C5;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-text-fill: white;
}

.number-pad{
    -fx-border-color: white;
}
.number-pad Button{
    -fx-font-size: 30;
}

.history-button{
    -fx-background-color: #FFB400;
    -fx-font-size: 30;
}

.back-button{
    -fx-background-color: #F1304D;
    -fx-font-size: 30;
}

.close-button{
    -fx-background-color: rgb(113,66,244);
    -fx-font-size: 30;
}